{% extends "layout.html" %}

{% block title %}Administrace | Jasan{% endblock %}
{% block box_title %}Jasan Administrace{% endblock %}
{% block content %}

<div class="box-body table-responsive no-padding">
  <button type="submit" class="btn btn-warning btn-logout" onclick="location.href='logout';">Odhlásit se</button>
  <div class="box-inner">
    <div class="feedbacks">

      {% for feedback in feedbacks %}
        <div class="feedback">
          <h3>{{ feedback.title }}</h3>
          <p>{{ feedback.text }}</p>
          <footer>{{ feedback.created }}</footer>
        </div>
        <hr>
      {% endfor %}

    </div>
  </div>
</div>

{% endblock %}
