{% extends "layout.html" %}

{% block title %}Feedback | Jasan{% endblock %}
{% block box_title %}Jasan Feedback{% endblock %}
{% block content %}

<div class="box-body table-responsive no-padding">
  <div class="box-inner">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Úspěch!</strong> {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <p>Pokud se chceš k čemukoliv na kurzu vyjádřit a nechce se ti to psát na papír (nebo přímo řešit s jedním z instruktorů), využij této zpětné vazby. Ta se neukáže ostatním účastníkům, uvidí ji ale instruktoři a určitě si ji přečtou.</p>

    <form action="/feedback" method="post">
      <div class="form-group">
        <label for="title">Nadpis</label>
        <input type="text" class="form-control" id="title" name="feedback_title" required="required">
      </div>
      <div class="form-group">
        <label for="text">Zpětná vazba</label>
        <textarea class="form-control" id="text" name="feedback_text" rows="5" required="=required"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

{% endblock %}
