{% extends "layout.html" %}

{% block title %}Zápisník | Jasan{% endblock %}
{% block box_title %}Jasan Zápisník{% endblock %}
{% block content %}

<div class="box-body table-responsive no-padding">
  <table class="table table-hover" id="table">
    <tbody id="list">
      {% if back %}
      <tr><td class="back"><a class="name" href="{{ server }}{{ back }}">Zpět</a></td></tr>
      {% endif %}

      {% for file in files %}
        <tr><td><a class="name" href="{{ server }}{{ path }}/{{ file }}">{{ file }}</a></td></tr>
      {% endfor %}

      {% for dir in dirs %}
        <tr class="is_dir"><td class="first"><a class="name" href="{{ server }}{{ path }}/{{ dir }}">{{ dir }}</a></td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
