{% extends "layout.html" %}

{% block title %}Intranet | Jasan{% endblock %}
{% block box_title %}Jasan Intranet{% endblock %}
{% block content %}

</div>

<div class="tiles row">
  <div class="col-md-4 col-sm-6">
    <a href="/journal">
      <div class="tile box">
        <img class="tile-image" src="/static/img/symbols/SKAUT_turbanek_symbol.png">
        <p>Zápisník</p>
      </div>
    </a>
  </div>
  <div class="col-md-4 col-sm-6">
    <a href="/feedback">
      <div class="tile box">
        <img class="tile-image" src="/static/img/symbols/SKAUTBold_pozdrav.png">
        <p>Zpětná vazba</p>
      </div>
    </a>
  </div>
  <div class="col-md-4 col-sm-6">
    <a href="/screambook">
      <div class="tile box">
        <img class="tile-image" src="/static/img/symbols/SKAUT_stan1_symbol.png">
        <p>Sociální síť</p>
      </div>
    </a>
  </div>
  <div class="col-md-4 col-sm-6">
    <a href="/void">
      <div class="tile box">
        <img class="tile-image" src="/static/img/symbols/SKAUT_teepee_symbol.png">
        <p>Černá díra</p>
      </div>
    </a>
  </div>

{% endblock %}
