{% extends "layout.html" %}

{% block title %}Sociální síť | Jasan{% endblock %}
{% block box_title %}Jasan Sociální síť{% endblock %}
{% block content %}

<div class="box-body table-responsive no-padding">
  <div class="box-inner">

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{category}} alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {% if category == "success" %}
              <strong>Úspěch!</strong> {{ message }}
            {% elif category == "danger" %}
              <strong>Chyba!</strong> {{ message }}
            {% endif %}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="screams">

      {% for scream in screams %}
      <div class="scream">
        <p class="parent"></p>
        <div class="scream-voting">
          <table>
            <tbody>
              <tr>
                <td><a href="screambook/{{ scream.get_id() }}/like"><img src="static/img/symbols/SKAUTBold_nahoru.png"></a></td>
                <td rowspan="2">
                  <div class="scream-popularity {% if scream.get_popularity() < 0 %} bad-color
                                                {% elif scream.get_popularity() > 0 %} good-color
                                                {% elif scream._popularity is not none %} even-color {% endif %}">
                    {{ scream.get_popularity() }}
                  </div>
                </td>
              </tr>
              <tr><td><a href="screambook/{{ scream.get_id() }}/dislike"><img src="static/img/symbols/SKAUTBold_dolu.png"></a></td></tr>
            </tbody>
          </table>
        </div>
        {% if scream.get_attachment() %}
          <div class="scream-image">
            <a href="uploads/{{ scream.get_attachment() }}"><img src="uploads/{{ scream.get_attachment(thumbnail=True) }}"></a>
          </div>
        {% endif %}
        <div class="scream-content">
          <p><span>{{ scream.get_name() }}</span>: {{ scream.get_text() }}</p>
          <footer>
            {% if user_id == scream.get_user_id() %}
              <form class="scream-delete-form" action="/screambook/delete/{{ scream.get_id() }}" method="get">
                <button type="submit" class="scream-button"><i class="fa fa-trash"></i></button>
              </form>
            {% endif %}
            {{ scream.get_created() }}
          </footer>
        </div>
        <div class="clearleft"></div>
      </div>
      {% endfor %}

    </div>

    <div class="space"></div>

    <h3>Nový výkřik</h3>
    <form action="/screambook" id="scream-form" enctype="multipart/form-data" method="post">
      <div class="form-group">
        <label for="name">Jméno</label>
        <input type="name" class="form-control" id="name" name="scream_name" required="=required">
      </div>
      <div class="form-group">
        <label for="text">Výkřik</label>
        <textarea class="form-control" id="text" name="scream_text" rows="3" required="=required"></textarea>
      </div>
      <div class="form-group">
        <label for="image">Obrázek</label>
        <input class="form-control-file" id="image" type=file name="scream_attachment">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<div id="add-button" style="display: none;">
  <button class="btn btn-primary" onclick="window.location.href='#scream-form'; $('#text').focus();"><i class="fa fa-plus"></i></button>
</div>

<script src="/static/js/jquery.mark.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $(".screams").markRegExp(/([@]|[#])([a-z])\w+/gmi);

    if (screen.height + 80 < $(document).height()) {
      $('#add-button').show();
    }
  });
</script>
<script type="text/javascript">
  $(document).ready(function() {
    var cookie = getCookie('jasanNameCookie');
    if (cookie) {
      $("#name").val(cookie);
    }
  });
  $('#scream-form').submit(function(e) {
    setCookie("jasanNameCookie", $("#name").val())
  });
  $('.scream-delete-form').submit(function(e) {
    var answer = confirm('Skutečně chceš tento výkřik smazat?');
    if(!answer)
     e.preventDefault();
  });
</script>

{% endblock %}
