{% extends "layout.html" %}

{% block title %}Sociální síť | Jasan{% endblock %}
{% block box_title %}Jasan Sociální síť{% endblock %}
{% block content %}

<div class="box-body table-responsive no-padding">
  <div class="box-inner">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Úspěch!</strong> {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="screams">

      {% for scream in screams %}
      <div class="scream">
        <p class="parent"></p>
        <div class="scream-voting">
          <table>
            <tbody>
              <tr>
                <td><a href="screambook/{{ scream.get_id() }}/like"><img src="static/img/symbols/SKAUTBold_nahoru.png"></a></td>
                <td rowspan="2">
                  <div class="scream-popularity {% if scream.get_popularity() < 0 %} bad-color {% endif %}{% if scream.get_popularity() > 0 %} good-color {% endif %}">
                    {{ scream.get_popularity() }}
                  </div>
                </td>
              </tr>
              <tr><td><a href="screambook/{{ scream.get_id() }}/dislike"><img src="static/img/symbols/SKAUTBold_dolu.png"></a></td></tr>
            </tbody>
          </table>
        </div>
        {% if scream.get_image() %}
          <div class="scream-image">
            <a href="uploads/{{ scream.get_image() }}"><img src="uploads/{{ scream.get_image() }}"></a>
          </div>
        {% endif %}
        <div class="scream-content">
          <p><span>{{ scream.get_name() }}</span>: {{ scream.get_text() }}</p>
          <footer>{{ scream.get_created() }}</footer>
        </div>
        <div class="clearleft"></div>
      </div>
      {% endfor %}

    </div>

    <div class="space"></div>

    <h3>Nový výkřik</h3>
    <form action="/screambook" enctype="multipart/form-data" method="post">
      <div class="form-group">
        <label for="name">Jméno</label>
        <input type="name" class="form-control" id="name" name="scream_name">
      </div>
      <div class="form-group">
        <label for="text">Výkřik</label>
        <textarea class="form-control" id="text" name="scream_text" rows="3" required="=required"></textarea>
      </div>
      <div class="form-group">
        <label for="image">Obrázek</label>
        <input class="form-control-file" id="image" type=file name="scream_image">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

{% endblock %}
