{% extends "layout.html" %}

{% block title %}Void | Jasan{% endblock %}
{% block box_title %}Jasan Void{% endblock %}
{% block content %}

<div class="box-body no-padding">
  <div class="box-inner">

    <p>Za tímto formulářem si představ černou díru. Pokud máš chuť se napříkad vykřičet z nějakého osobního problému, můžeš využít tohoto místa. Cokoliv sem napíšeš, je zahozeno a nikdo už nikdy nezjistí, co to bylo.</p>

    <form action="/void" method="post">
      <div class="form-group">
        <textarea class="form-control" rows="5" required="=required"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

{% endblock %}
